.inclue-h1 {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(24);
  line-height: rem-calc(30);
}
.inclue-h2 {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(20);
  line-height: rem-calc(24);
}
.inclue-h3 {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(18);
  line-height: rem-calc(22);
}
.inclue-h4 {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(16);
  line-height: rem-calc(20);
}
.inclue-h5 {
  font-family: EYInterstate-Bold;
  font-size: rem-calc(14);
  line-height: rem-calc(17);
}
.inclue-subtitle1 {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(16);
  line-height: rem-calc(25);
}
.inclue-subtitle2 {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(14);
  line-height: rem-calc(22);
}
.inclue-caption {
  font-family: EYInterstate-Regular;
  font-size: rem-calc(12);
  line-height: rem-calc(20);
}
.inclue-overline {
  font-family: EYInterstate-Bold;
  font-size: rem-calc(12);
  line-height: rem-calc(20);
  letter-spacing: 1.5px;
}
.inclue-body1 {
  font-family: EYInterstate-Light;
  font-size: rem-calc(14);
  line-height: rem-calc(22);
}
.inclue-body2 {
  font-family: EYInterstate-Light;
  font-size: rem-calc(12);
  line-height: rem-calc(20);
}
.inclue-alternateBody {
  font-family: Georgia;
  font-size: rem-calc(14);
  line-height: rem-calc(22);
}
.inclue-instructionalText {
  font-family: EYInterstate-Light;
  font-size: rem-calc(12);
  line-height: rem-calc(20);
}
.inclue-tableDataHeaders {
  font-family: EYInterstate-Bold;
  font-size: rem-calc(12);
  line-height: rem-calc(20);
}
.inclue-tableData {
  font-family: EYInterstate-Light;
  font-size: rem-calc(12);
  line-height: rem-calc(20);
}
